<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="userMacSet">
          <set>
            <option value="FA-FF-C2-24-A3-64" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>